.flotingimg{
    width: 100%;
    top: 0;
    display: flex;
    position:relative;
    animation:glide 2s ease-in-out alternate infinite;
}
.movediv:hover {
   animation-name: glide 2s;
   animation-timing-function: ease;
 }

@keyframes glide  {
    from {
       left:0px;
       top:0px;
    }    
    to {
       left:0px;
       top:20px;
    }
 
 }

 .flotingimg1{
    left: 0;
    position: absolute;
    visibility: visible;
    z-index: -10;
 }

.flotingimg2{
    position: absolute;
    right: 0;
    visibility: visible;
    z-index: -10;
}