
.mrp{
    font-family: cursive;
    text-decoration: line-through;
    font-family: cursive;
}

.save{
    font-family: cursive;
    color: red;
    font-family: cursive;
}

.price{
    font-family: cursive;
    color: rgb(71, 12, 12);
    font-family: cursive;
}