
.header-cart img {
          width: 30px;
}
.header-cart span {
        background-color: orangered;
        color: #fff;
        position: absolute;
        width: 24px;
        height: 20px;     
        text-align: center;
        font-size: 12px;
        padding-top: 1px;
        border-radius:100%;
        margin-top: -40px;
        border: 1px solid gray;
      }      
  